<div class="jumbotron">
  <h1 class="display-4 text-center">Thales Payroll</h1>
  <hr>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <app-employee-search>

      </app-employee-search>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Employee card</h3>
      <app-employee-card>
      </app-employee-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Employee List</h3>
      <app-employee-list>
      </app-employee-list>
    </div>
  </div>
</div>
