<div class="card-container" *ngIf="employeeService.employeeData;">
  <div class="upper-container">
    <div class="image-container">
      <img
        [src]="employeeService.employeeData.profileImage ? employeeService.employeeData.profileImage : '/assets/img/7.png'"
        alt="Profile image" srcset="">
    </div>
  </div>
  <div class="lower-container">
    <h3>{{employeeService.employeeData.name}}</h3>
    <div class="details">
      <h5>Age: {{employeeService.employeeData.age}} years old</h5>
      <h5>Salary: {{employeeService.employeeData.salary | currency}}</h5>
    </div>

    <ng-template #loading>
      <p>Loading employee data...</p>
    </ng-template>
  </div>
</div>
